.button {
    -fx-background-image:url('/interfaz/recursos/imagenes/fondoBoton.png');
    -fx-background-size:stretch;
    -fx-background-radius: 20 20 20 20;
}

.button:hover {
    -fx-effect: innershadow(gaussian, whitesmoke, 13, 0.25, 0, 0);
}

.button:pressed {
    -fx-effect: innershadow(gaussian, black, 50, 0.4, 0, 0);
}